<!DOCTYPE html>
<html>
<head>
	<title>Seller</title>
	<meta charset="UTF-8">
	{{ theme:css file="bootstrap.min.css"}}
	<style type="text/css">
		#container-fluid{
			padding-top: 20px;
		}
		a{
			text-align: center;

		}
		.row{
			clear: both; 
			padding-top: 20px;
			padding-left: 130px;
		}
		#footer{
			text-align: center;
		}
		#search{
			padding-top: 10px;
			padding-left: 130px;
		}
	</style>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
	    .carousel-inner > .item > img,
	    .carousel-inner > .item > a > img {
	    	width: 70%;
	    	margin: auto;
	    	height: 300px;
	  }
    </style>
</head>